
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
}

h1{
  text-align: center;
  padding: 20px 0px 10px 0px;
  border-bottom: 2px dashed black;
  font-size: 175%;
}
.First, .Second, .Third{
  border: 1px solid black;
  background-color: gray;
  margin: 20px 30px 15px 30px;
}
.Title{
  float:right;
  border: 1px solid black;
  background: red;
  width:30%;
  padding: 4px 0px 4px 0px;
  text-align: center;
  font-size: 125%;
}
.text{
  text-align: justify;
  clear:right;
  padding: 10px 30px 10px 30px;
}


/***** media queries *****/
@media (min-width: 991px) {

  .First, .Second, .Third{
    float: right;
    width: 30%;
  margin: 20px 2.5% 15px auto;
  }

}
@media (min-width: 768px) and (max-width: 991px) {

  .First, .Second{
    float: right;
    width: 45%;
  margin: 20px 3.3% 15px auto;
  }
  .Third{
    clear: both;
    margin: 20px 3.3% 0px 3.3%;
  }

}